{% extends "base.html" %}

{% block content %} 
<!-- Tên của các block (ở đây là content ) phải là duy nhất (unique) -->



<div class="row">
    <div class="col-md-6">
<br/>
<br/>
<br/>
<br/>
<div class="block-title">Hệ số</div>
                                <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}

                            <div class="tbody row">
                            
                                <div class="col-8">{{form.subject1.label}}</div>
                                <div class="col-4">
                                {{form.subject1}}
                                </div>
                            </div>
                            

                            <div class="tbody row">
                                <div class="col-8">{{form.point1.label}}</div>
                                <div class="col-4">
                                {{form.point1}}
                                </div>
                            </div>

                            <div class="tbody row">
                            
                                <div class="col-8">{{form.subject2.label}}</div>
                                <div class="col-4">
                                {{form.subject2}}
                                </div>
                            </div>

                            <div class="tbody row">
                            
                                <div class="col-8">{{form.point2.label}}</div>
                                <div class="col-4">
                                {{form.point2}}
                                </div>
                            </div>

                            <div class="tbody row">
                            
                                <div class="col-8">{{form.city.label}}</div>
                                <div class="col-4">
                                {{form.city}}
                                </div>
                            </div>
                            <div class="tbody row">
                            
                                <div class="col-8">{{form.fee.label}}</div>
                                <div class="col-4">
                                {{form.fee}}
                                </div>
                            </div>
                            <div class="tbody row">

                                <div class="col-12">
                                {{ form.submit() }}
                                </div>
                            </div>
                            </form>

                </div>
                </div>
                

{% endblock %}